body {
	font-family: HelveticaNeue, sans-serif;
}

h1 {
	text-align: center;
}

.palette {
	text-align: center;
}

.role, .word {
	padding: 3px 8px;
}

[role]::before {
	color: white;
	font-size: 10pt;
	font-weight: bold;
	margin: 0;
	margin-top: -2px;
}

[role=agent] {
	background-color: #99fc9d;
	color: #4d8e00;
}
[role=agent]::before {
	content: 'agent';
	opacity: 1;
}

[role=modal] {
	background-color: #cacecf;
	color: #95999d;
}
[role=modal]::before {
	content: 'modal';
	opacity: 1;
}

[role=action] {
	background-color: #ffbebb;
	color: #fc4a36;
}
[role=action]::before {
	content: 'action';
	opacity: 1;
}

[role=negation] {
	background-color: #f4bd70;
	color: #be8e56;
}
[role=negation]::before {
	content: 'negation';
	opacity: 1;
}

[role=experiencer] {
	background-color: #8dbbd4;
	color: #12479f;
}
[role=experiencer]::before {
	content: 'experiencer';
	opacity: 1;
}

[role=benefactive] {
	background-color: #f1de47;
	color: #cb6300;
}
[role=benefactive]::before {
	content: 'benefactive';
	opacity: 1;
}

[role=locative] {
	background-color: #a9c095;
	color: #5a694d;
}
[role=locative]::before {
	content: 'locative';
	opacity: 1;
}

[role=temporal] {
	background-color: #b3d6de;
	color: #4b75ae;
}
[role=temporal]::before {
	content: 'temporal';
	opacity: 1;
}

[role=manner] {
	background-color: #b59883;
	color: #6d4f3b;
}
[role=manner]::before {
	content: 'manner';
	opacity: 1;
}

[role=purpose] {
	background-color: #dea6bc;
	color: #a0515e;
}
[role=purpose]::before {
	content: 'purpose';
	opacity: 1;
}

[role=extent] {
	background-color: #e07c89;
	color: #c0011c;
}
[role=extent]::before {
	content: 'extent';
	opacity: 1;
}

.role p, .role::before {
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.role {
	z-index: 2;
	width: -webkit-fit-content;
	height: 2.35em;
	border-radius: 7px;
	text-align: center;
	padding-top: 1px;
}

.stationary {
	z-index: 1;
	display: inline-block;
	margin: 0 5px;
}
.role.assigned::before, .role.assigned p{
	opacity: 0;
}

.role p {
	margin: 0;
	font-family: HelveticaNeue-Light;
	opacity: 1;
}

.word {
	position: relative;
	z-index: 10;
}